# Domaine utilisé par Traefik pour Grafana
# Exemple : monitoring.mondomaine.tld
MONITORING_DOMAIN=monitoring.example.com

# Identifiants admin Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=changeme

# Nom de l'instance Grafana
GF_DEFAULT_INSTANCE_NAME=raspberry-monitoring
