{{- /* Simple Telegram template for Alertmanager webhook payload */ -}}
{{- if .CommonLabels.alertname -}}
<b>{{ .CommonLabels.alertname }}</b>
{{- else -}}
<b>Alert</b>
{{- end }}

{{- if .Status }}
\n<b>Status:</b> {{ .Status }}
{{- end }}

{{- if .CommonLabels.severity }}
\n<b>Severity:</b> {{ .CommonLabels.severity }}
{{- end }}

{{- if .CommonAnnotations.summary }}
\n<b>Summary:</b> {{ .CommonAnnotations.summary }}
{{- end }}

{{- if .CommonAnnotations.description }}
\n<b>Description:</b> {{ .CommonAnnotations.description }}
{{- end }}

{{- if .Alerts }}
\n\n<b>Alerts:</b> {{ len .Alerts }}
{{- end }}
