name: Deploy raspberry-monitoring stack

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on:
      - self-hosted
      - raspberry

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy monitoring stack
        run: |
          docker compose up -d --build --remove-orphans
